body {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

*, *::after, *::before {
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 76px;
    background: #ffff;
    border-bottom: 0.6px solid #F8E0FB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 70px;
    margin-right: 32px;
}

header img {
    width: 151px;
    height: 40px;
    margin: 18px auto;
}

.menu_wrapper{
    display: flex;
}

.menu_wrapper a{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
    display: flex;
    margin-right: 32px;
    white-space: nowrap;
    opacity: 0.7;
}

.section__sellNft{
    display: flex;
    flex-flow: column;
    position: relative;
}

.section__sellNft h1{
    text-align: center;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    color: #000000;
    text-shadow: -5px 5px 0px #FFFFFF;
    padding-top: 117px;
    margin: 0 auto;
}

.section__sellNft p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #532C59;
    padding-top: 32px;
    margin-bottom: 32px;
}

.section__sellNft button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 114px;
    padding: 16px 20px;
    background: #532C59;
    border-radius: 15px;
    margin: 0 auto;
    color: #FFFFFF;
    font-family: 'Syne';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    white-space: nowrap;
    cursor: pointer;
    border: none;
    outline: none;
}

.sellNft__bg{
    position: absolute;
    width: 1440px;
    height: 499px;
    left: 0px;
    top: 57px;
    background: radial-gradient(50% 50% at 50% 50%, #E36CE6 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.4;
    filter: blur(116px);
    z-index: -1;
}